body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-blue: rgb(0, 67, 160);
  --primary-white: rgb(250, 250, 250);
  --primary-yellow: rgb(254,186,2);
  --primary-gray: rgb(36, 36, 36);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
}